<mat-card>
  <mat-card-title>Order</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>Bar</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="retailer">
          <mat-option
            *ngFor="let retailer of retailers"
            [value]="retailer.value"
          >
            {{ retailer.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Menu</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="drink">
          <mat-option *ngFor="let drink of drinks" [value]="drink.value">
            {{ drink.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Sender name"
            formControlName="username"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Recipient name"
            formControlName="username"
          />
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button (click)="demo()">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
